/* 
 * MODAL
*/
.modal {

    @extend %posFullFixed;
    display        : flex;
    align-items    : center;
    justify-content: center;
    opacity        : 0;
    visibility     : hidden;
    pointer-events : none;
    z-index        : 10;
    animation      : popup 0.55s ease-in-out 1s forwards;
}