.card {
    @extend %card;
    width        : 20rem;
    border-radius: $defaultRound;

    .card__image {
        height    : 14rem;
        background: url('https://images.unsplash.com/photo-1546561892-65bf811416b9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHN0YXIlMjB3YXJzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60') no-repeat center center /cover;
    }

    .card__content {
        padding: $spacing;
    }

    .card__desc {

        line-height: 1.6;
        color      : $color-gray;
    }

    .card__title {
        padding: $spacing - 1rem 0;
    }

    &--dark {
        background-color: $color-black;
        color           : $color-white;

        .card__title {
            color: $color-white;
        }

        .card__image {
            background-image: url("https://images.unsplash.com/photo-1547700055-b61cacebece9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHN0YXIlMjB3YXJzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
        }
    }
}

.container.centered {
    @extend %flexMiddle;
    gap: rem(20);
}

.btn {
    @extend %btn;
}


.boxP {
    height          : rem(300);
    aspect-ratio    : 1/1;
    background-color: salmon;
    @extend %flexMiddle;
}

.boxE {
    width           : 100px;
    aspect-ratio    : 1/1;
    background-color: #333;
}

.boxF {
    @extend .boxE;
    background-color: yellow;

    &:before {
        @include pseudoEl;
    }
}