/* 
 * Overlay
*/
.overlay {

    @extend %posFullFixed;
    background-color: var(--bg-light);
    opacity         : 0;
    pointer-events  : none;
    z-index         : 15;
    transition      : 0.75s ease;

    &.active {
        opacity       : 1;
        pointer-events: all;
    }
}