.link {
    color: inherit;
    cursor: pointer;
    text-decoration:none;
}
a {
    text-decoration:none;
}
.link:hover {
    color: initial;
}
.icon {
    height: 1.25rem;
    aspect-ratio: 1/1;
    fill: currentColor;
}