// Grace à l'heritage, les mixins nous permet de ne pas repeter les block de code meme lors de la compilation
%btn {
    padding         : 10px 14px;
    border-radius   : 4px;
    border          : none;
    background-color: gray;

}

%card {
    color           : rgba(0, 0, 0, 0.75);
    background-color: $color-white;
    box-shadow      : 0 20px 30px rgba(0, 0, 0, 0.05), 0 15px 10px rgba(0, 0, 0, 0.03);
    border          : 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom   : rem(15);
    min-width       : 150px;
    overflow        : hidden;
}

%d-none {
    display: none;
}

%posFullFixed {

    position: fixed;
    height  : 100vh;
}

%posFullAbsolute {

    position: absolute;
    height  : 100%;
}

%topLeft {

    top  : 0;
    left : 0;
    width: 100%;
}

%flex {
    display: flex;
}

%flexCol {
    @extend %flex;
    flex-direction: column;
}

%flexMiddle {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

%flexRowXCenter {
    @extend %flex;
    justify-content: center;
}

%flexRowYCenter {

    @extend %flex;
    align-items: center;
}

%flexColXCenter {
    @extend %flexCol;
    align-items: center;
}

%flexColYCenter {
    @extend %flexCol;
    justify-content: center;
}