@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,700&display=swap');

$color-white :#eee;
$color-white :#fff;
$color-gray  : #999;
$color-black :rgba(0, 0, 0, 0.95);
$bg-light    :rgba(0, 0, 0, 0.05);


// POLICE
$fonts: Inter,
Roboto,
Tahoma,
Geneva,
Verdana,
"Segoe UI",
sans-serif;
$head-fonts:'Poppins',
'Segoe UI',
sans-serif;

// DIMENSIONS
$defaultRound: 5px;
$spacing     : 2rem;